html,
body {
    height: 100%;
    width: 100%;
}


.card-deck{
    margin-top: 10px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: .5rem;
}